/* Default for larger screens */
.inner {
  max-width: 90vw;
}

/* For tablets (landscape) */
@media only screen and (max-width: 1024px) {
  .inner {
    max-width: 95vw;
  }
}

/* For tablets (portrait) */
@media only screen and (max-width: 768px) {
  .inner {
    max-width: 100vw;
  }
}

/* For mobile phones */
@media only screen and (max-width: 480px) {
  .inner {
    max-width: 120vw;
    width: 120vw;
  }
}
